/*CSS Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open San', sans-serif;
	/*alternative fonts:  serif*/
}

nav {
	/*1 rem = 16px*/
	/*shorthand property*/
	padding:  0.8rem;
	/*properties that make up padding property
	padding-top 0.8rem;
	padding-bottom 08;
	padding-left 0.8rem;
	padding right:  0.8rem;
	*/

	/*creates space between the nav and the intro section*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;

}

nav > ul > li {
	/*remove bullet points*/
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	/*li elements turn into inline elements, default behavior of li is block elements*/
	display: inline;
}

#intro {
	padding-left: 10%;
	padding-top: 2rem;
	padding-right: 10%;
	padding-bottom: 3rem;
	/*shorthand property
	padding: top left&right bottom;*/
	text-align: center;
}

.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	border-radius: 25px;
}

#succeed-info {
	padding-left: 10%;
	padding-top: 2rem;
	padding-right: 10%;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
}

#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5;
}

footer {
	padding: 0.7rem;
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	/*margin:  top&bottom, left&right
	eg. > */
}

#pre-footer {
  padding-top: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  background-color: #002540;
  color: white;

}

#pre-footer h3, #pre-footer p {
	margin-bottom: 0.5rem;
}

#pre-footer div {
	display: inline-block;
	vertical-align: top;
	min-height: 100px;
	width: 10%;
	margin-left: 5rem;
	margin-right: 5rem;

}